<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">


    <style type="text/css">
        #mynetwork {
            /* display: flex;
            height:100vh; 
            width:auto;
            border: 1px solid lightgray; */
        }

        .container {
            display: flex;
            height: 600px;
            align-items: center;
        }
    </style>
</head>

<body>
    <!-- <nav class="indigo" role="navigation" style="height: 48px;"> -->
        <!-- <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo" style="font-size: 1.1rem;">Reliability Engineering Map</a>
        </div> -->
    <!-- </nav> -->
    <div id="mynetwork" class="container">

<div style="text-align: center;" class="main">
    <br>
    <h1 style="background-color:deepskyblue;"> Welcome to GopherLab - HandsOn golang laboratory</h1>
    <h4> URL Shortner</h4> 
    <br>
    <br>
    <img src="https://cdn-images-1.medium.com/max/1600/1*1R4iZ4wrVdWtONwHkBmgDA.jpeg" />
    <form action=/short?url= method="GET">
        <label>Please insert your URL: </label><input type="text" name="url"><br />
        <input type="submit">
    </form>
    </div>


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>

</html>